*.sln
*.user
*.vcxproj
*.filters
*.vsidx
*.db*
*.pdb
*.recipe
*.ilk
*.log
*.obj
*.idb
*.lastbuildstate
*.suo
*.ipch
*.tlog
*.json
*.csv

*.exe
*.out
*.pp
*.o
*.obj
*.i
*.a
*.so


.vscode
build